@font-face {
  font-family: "Geist";
  src: local("Geist"),
   url("./components/fonts/Geist-Regular.otf") format("truetype");
  font-weight: 500;
 }

 @font-face {
  font-family: "Geist";
  src: local("Geist"),
   url("./components/fonts/Geist-Light.otf") format("truetype");
  font-weight: 300;
 }

 @font-face {
  font-family: "Geist";
  src: local("Geist"),
   url("./components/fonts/Geist-UltraLight.otf") format("truetype");
  font-weight: 100;
 }

 @font-face {
  font-family: "Geist";
  src: local("Geist"),
   url("./components/fonts/Geist-Bold.otf") format("truetype");
  font-weight: 700;
 }

 *{
  /* Cambiar el estilo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Ancho de la barra de desplazamiento */
}

/* Cambiar el estilo del pulgar de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #6c6c6c; /* Color del pulgar */
  border-radius: 6px; /* Bordes redondeados del pulgar */
}

/* Cambiar el estilo del fondo de la barra de desplazamiento (opcional) */
::-webkit-scrollbar-track {
  background-color: transparent; /* Color del fondo de la barra de desplazamiento */
}
 }

 #root{
  white-space: pre-line;
 }

body {
overflow-x: hidden;
  color: white;
  background-color: #070707;
  margin: 0;
  font-family: "Geist", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
